# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Python & Temporary Artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/
scratch/
*.log

# Editor Directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
